<style>
  .report-details {
    color: #000;
  }
  .report-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .report-details th, .report-details td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .report-details th {
    background-color: #f2f2f2;
    text-align: left;
  }
  .report-details h2 {
    margin-top: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
  }
</style>

<div class="report-details">
  <h1>Relatório do XML</h1>
  <p>
    <strong>Arquivo XML:</strong>
    <%= @xml_file.file.filename.to_s %>
  </p>

  <h2>Emitente</h2>
  <table>
    <tr>
      <th>CNPJ</th>
      <td><%= @issuer.cnpj %></td>
    </tr>
    <tr>
      <th>Nome</th>
      <td><%= @issuer.name %></td>
    </tr>
    <tr>
      <th>Nome Fantasia</th>
      <td><%= @issuer.fantasy_name %></td>
    </tr>
    <tr>
      <th>Inscrição Estadual</th>
      <td><%= @issuer.state_registration %></td>
    </tr>
    <tr>
      <th>Logradouro</th>
      <td><%= @issuer.address %></td>
    </tr>
    <tr>
      <th>Número</th>
      <td><%= @issuer.number %></td>
    </tr>
    <tr>
      <th>Bairro</th>
      <td><%= @issuer.neighborhood %></td>
    </tr>
    <tr>
      <th>Cidade</th>
      <td><%= @issuer.municipality %></td>
    </tr>
    <tr>
      <th>Estado</th>
      <td><%= @issuer.state %></td>
    </tr>
    <tr>
      <th>CEP</th>
      <td><%= @issuer.zip_code %></td>
    </tr>
    <tr>
      <th>Telefone</th>
      <td><%= @issuer.phone %></td>
    </tr>
  </table>
  <br>

  <h2>Destinatário</h2>
  <table>
    <tr>
      <th>CNPJ</th>
      <td><%= @recipient.cnpj %></td>
    </tr>
    <tr>
      <th>Nome</th>
      <td><%= @recipient.name %></td>
    </tr>
    <tr>
      <th>Nome Fantasia</th>
      <td><%= @recipient.fantasy_name %></td>
    </tr>
    <tr>
      <th>Logradouro</th>
      <td><%= @recipient.address %></td>
    </tr>
    <tr>
      <th>Número</th>
      <td><%= @recipient.number %></td>
    </tr>
    <tr>
      <th>Bairro</th>
      <td><%= @recipient.neighborhood %></td>
    </tr>
    <tr>
      <th>Cidade</th>
      <td><%= @recipient.municipality %></td>
    </tr>
    <tr>
      <th>Estado</th>
      <td><%= @recipient.state %></td>
    </tr>
    <tr>
      <th>País</th>
      <td><%= @recipient.country %></td>
    </tr>
    <tr>
      <th>Zip Code</th>
      <td><%= @recipient.zip_code %></td>
    </tr>
  </table>

  <br>
  <h2>Dados da Nota</h2>
  <table>
    <tr>
      <th>Serie</th>
      <td><%= @data_note.series %></td>
    </tr>
    <tr>
      <th>Número</th>
      <td><%= @data_note.invoice_number %></td>
    </tr>
    <tr>
      <th>Emission Date</th>
      <td><%= @data_note.emission_date %></td>
    </tr>
    <tr>
      <th>ICMS</th>
      <td><%= @data_note.icms %></td>
    </tr>
    <tr>
      <th>IPI</th>
      <td><%= @data_note.ipi %></td>
    </tr>
    <tr>
      <th>PIS</th>
      <td><%= @data_note.pis %></td>
    </tr>
    <tr>
      <th>COFINS</th>
      <td><%= @data_note.cofins %></td>
    </tr>
    <tr>
      <th>Totais Produtos</th>
      <td>R$<%= @data_note.total_products %></td>
    </tr>
    <tr>
      <th>Totais Impostos</th>
      <td>R$<%= @data_note.total_taxes %></td>
    </tr>
  </table>
  <br>

  <h2>Produtos</h2>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>NCM</th>
        <th>CFOP</th>
        <th>Quantity</th>
        <th>Unit Value</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.product_name %></td>
          <td><%= product.ncm %></td>
          <td><%= product.cfop %></td>
          <td><%= product.quantity %></td>
          <td><%= product.unit_value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', reports_path %>
</div>
